{% load static %}

<!DOCTYPE html>
<html lang="en"> 
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Stone Yang</title>  <!-- displays website title -->
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">  <!-- displays website favicon -->
		<link rel="stylesheet" type = "text/css" href= "{% static 'style.css' %}"/>  <!-- calls css file -->
		<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Poiret+One"> <!-- google fonts-->
		<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Newsreader">
        <script src="https://kit.fontawesome.com/868af1bfa3.js" crossorigin="anonymous"></script> 
    </head>
	<body>
<!-- header__________________________ -->
		<section id = "header">
            <div class="nav-bar">
                <nav>
                    <img src="{% static 'favicon.png' %}" class="logo"/>
                    <ul id = "menu">
                        <li><a href ="#">Home</a></li>
                        <li><a href ="#">About</a></li>
                        <li><a href ="#">Projects</a></li>
                        <li><a href ="#">Contact</a></li>
                        <li><a href ="#">Resume</a></li>
                        <i class="fa-solid fa-xmark" onclick="closeMenu()"></i>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openMenu()"></i>
                </nav>
            </div>
            <div class="header-text">
                <h1>Stone Yang</h1>  <!-- prints title -->
                <p>I'm an <span>Engineering Science/Machine Intelligence</span> student @ the <span>
                    University of Toronto</span> passionate about <span>full-stack development </span>
                    and <span>AI/ML</span>!</p>
            </div>
		</section>
<!-- about_____________________________ -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div id="col-1">
                        <img src = "{% static 'images/about2.jpg' %}"/>
                    </div>
                    <div id="col-2">
                        <h2>About Me</h2>
                        <div class="about-titles">
                            <div class="about-tabs active-tab" onclick ="selectTab('bio')">Bio</div>
                            <div class="about-tabs" onclick ="selectTab('hobbies')">Hobbies</div>
                            <div class="about-tabs" onclick ="selectTab('skills')">Skills</div>
                        </div>
                        <div class="tab-contents active-content" id = "bio">
                            <ul>
                                <li>bio</li>
                                <li>Hi! I'm Stone Yang</li>
                                <li>Hi! I'm Stone Yang</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id = "hobbies">
                            <ul>
                                <li>hob</li>
                                <li>Hi! I'm Stone Yang</li>
                                <li>Hi! I'm Stone Yang</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id = "skills">
                            <ul>
                                <li>skill</li>
                                <li>Hi! I'm Stone Yang</li>
                                <li>Hi! I'm Stone Yang</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- projects_________________________ -->
        <section id = "projects">
            <div class="container">
                <h2>Projects</h2>
                <div class="project-list">
                    <div class="project">
                        <img src = "{% static 'images/Wave.png' %}">
                        <div class="label">
                            <h3>Wave</h3>
                            <p>Wave app</p>
                            <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <div class="project">
                        <img src = "{% static 'images/ChefGPT.png' %}">
                        <div class="label">
                            <h3>ChefGPT</h3>
                            <p>COOKING</p>
                            <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <div class="project">
                        <img src = "{% static 'images/PlanIt.png' %}">
                        <div class="label">
                            <h3>PlanIt</h3>
                            <p>to-do</p>
                            <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </div>
                </div>
                <a href ="#" class = "see-more">See More</a>
            </div>
        </section>
<!-- contact______________________ -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-links">
                        <h2>Contact Me</h2>
                        <p><i class="fa-solid fa-envelope"></i>stoneyang17@gmail.com</p>
                        <div class="socials">
                            <a href ="https://github.com/Yangston" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                            <a href ="https://www.linkedin.com/in/stone-yang-a931861b2/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<div id="copyright_tag">  <!-- calls copyright tag format -->
			<p style="font-size:14px"><b>Copyright © 2024 Stone Yang. All rights reserved.</b></p>  <!-- prints copyright tag-->
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{% static '/main/javascript/main.js' %}"></script>
	</body>
</html>